.cheat-meal-pic {
    max-width: 40vw;
    max-height: 40vh;
}
.just-another-pic {
    max-width: 40vw;
    max-height: 40vh;
    flex: 1;
    width: 100%;
}

.tornados-fc-pic {
    max-width: 40vw;
    max-height: 40vh;
    width: 100%;
}

.work-stuff {
    animation-name: from-bottom;
    animation-duration: 1s;   
}

.contact-stuff {
    animation-name: from-bottom;
    animation-duration: 1s;
}

.about-me {
    animation-name: from-bottom;
    animation-duration: 1s;
}

@keyframes from-bottom {
    0% {
        margin-top: 100%;
    }

    100% {
        margin-top: 0%;
    }

}