body {
    margin: auto 0;
    text-align: center; 
}

/* div {
    border: 1px solid black;
} */
.cheat-meal-pic {
    max-width: 40vw;
    max-height: 40vh;
}
.just-another-pic {
    max-width: 40vw;
    max-height: 40vh;
    flex: 1;
    width: 100%;
}

.tornados-fc-pic {
    max-width: 40vw;
    max-height: 40vh;
    width: 100%;
}

.work-stuff {
    animation-name: from-bottom;
    animation-duration: 1s;   
}

.contact-stuff {
    animation-name: from-bottom;
    animation-duration: 1s;
}

.about-me {
    animation-name: from-bottom;
    animation-duration: 1s;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-name {
    margin: 0;
}

.nav {
    flex: 1;
    text-align: left;
    padding: 2vh;
}

.photo {
    flex: 1;
    text-align: right;
    padding: 2vh;
}

img{
    max-width: 20vw;
    max-height: 20vh;
}

.about-me-body {
    display: flex;
}

.pbrandstatement {
    flex: 1;
    padding: 2vh;
}

li {
    list-style-type: none;
}

.tools {
    flex: 1;
    padding-top: 2vh;
}

.tools-list {
    padding: 0;
}

@keyframes from-bottom {
    0% {
        margin-top: 100%;
    }

    100% {
        margin-top: 0%;
    }

}